.video {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* min-height: 524px;
  -o-object-fit: cover;
  object-fit: cover; */
}

/* .video__screen img {
  min-height: 524px;
  -o-object-fit: cover;
  object-fit: cover;
} */

.video__player {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
}
.video__front {
  cursor: pointer;
  position: relative;
}

.video__control {
  position: absolute;
  z-index: 14;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.video.active .video__player {
  z-index: 20;
}

.video__front::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.video__screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.video__screen img {
  width: 100%;
}

.video__play {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
}
